*

!.github/
!.github/**

!compressed/
!compressed/**

!.gitignore

!README.md
!LICENSE
!AUTHORS

!package.json
!package-lock.json

!src/
!src/**

!test/
!test/**

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db

src/**/node_modules